body {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 300px;
  width: 400px;
  border: 1px solid #000000;
}

#message {
  margin-top: 10px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
}
